# Ignore log files
*.log

# Ignore compiled binaries
*.exe
*.dll
*.so

# Ignore package lock files
package-lock.json
yarn.lock

# Ignore editor-specific files
.idea/
*.sublime-project
*.sublime-workspace

# Ignore build output directories
build/
dist/

.vscode
.dist


__pycache__

